<!DOCTYPE html>
<html>
	<head>
  		<title>WildHacks</title>
  		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

	</head>
	<body>
		<h1>Saved things!!!</h1>
		<div class="container">
			
		</div>
		<div class="results">
			<% @articles.each do |item| %>
				<a href="<%= item["url"] %>"><%= item["title"] %></a>: <%= item["word_count"] %> words, <span id="reading-time"><%= item["reading_time"] %></span> min<br>
			<% end %>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="javascripts/bootstrap.min.js"></script>
	</body>
</html>