<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>Pickpocket</title>
  		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

	</head>
	<body>
		<a href='#' id='authorize-button'>do calendar stuffs</a>
    
		<h1>Saved things!!!</h1>
		<div class="container">
			
		</div>
		<div class="results">
			<% @articles.each do |item| %>
				<div class="item">
					<a href="<%= item["url"] %>"><%= item["title"] %></a>: <%= item["word_count"] %> words, <span id="reading-time"><%= item["reading_time"] %></span> min<br>
				</div>
			<% end %>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="javascripts/bootstrap.min.js"></script>
    	<script src="javascripts/moment.min.js"></script>
		<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>	
    	<script src="javascripts/script.js"></script>	
	</body>
</html>