<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
  		<title>Pickpocket</title>
  		<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.min.css">
  		<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
  		<link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
	</head>
	<body>    
		<h1>Things to Read from Your Pocket</h1>
		<div class="schedule">
		</div>
		<div class="results">
			<% @articles.each do |item| %>
				<div class="item">
					<a href="<%= item["url"] %>"><%= item["title"] %></a>: <%= item["word_count"] %> words, <span id="reading-time"><%= item["reading_time"] %></span> min<br>
				</div>
			<% end %>
		</div>
		<footer>Made by <a href="http://twitter.com/suymilk">Summer Son</a> and <a href="http://twitter.com/nicolelzhu">Nicole Zhu</a> at <a href="http://wildhacks.org/">WildHacks</a></footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    	<script src="javascripts/bootstrap.min.js"></script>
    	<script src="javascripts/moment.min.js"></script>
		<script src="https://apis.google.com/js/client.js?onload=handleClientLoad"></script>	
    	<script src="javascripts/script.js"></script>	
	</body>
</html>